body {
  padding: 0;
  margin: 0;
  background-color: #E84930;
  border: 1px solid #E84930;
}

hr {
  margin-left: 30px;
  margin-right: 30px;
  border: 2px solid #FFFFFF;
  opacity: 30;
}

header nav.navbar {
  display: none;
}
header div.headermob {
  display: none;
}
header div.container-fluid.header {
  height: 120px;
}
header div.container-fluid.header div.master {
  width: 350px;
  padding-top: 35px;
}
header div.container-fluid.header div.master h2 {
  width: 300px;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  border: 1px solid #E84930;
}
header div.container-fluid.header div.master p {
  display: block;
  width: 300px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
header div.container-fluid.header div.nav {
  padding-top: 25px;
}
header div.container-fluid.header div.nav div.prof img {
  width: 90px;
  height: 90px;
}
header div.container-fluid.header div.nav div.howwork img {
  width: 111px;
  height: 111px;
}
header div.container-fluid.header div.nav div.about img {
  width: 90px;
  height: 90px;
}
header div.container-fluid.header img.logoPart {
  display: block;
  margin-bottom: 52px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  margin: auto auto;
  height: 80px;
  weight: 80px;
}
header div.container-fluid.header div.right {
  width: 500px;
}
header div.container-fluid.header div.right div.logo {
  padding-top: 25px;
}
header div.container-fluid.header div.right div.logo img.logoYandex {
  display: block;
  position: relative;
  top: 20px;
  left: 16px;
  height: 48px;
  weight: 50px;
}
header div.container-fluid.header div.right div.logo img.logoMail {
  display: block;
  position: relative;
  top: 20px;
  left: 8px;
  height: 42px;
  weight: 50px;
}
header div.container-fluid.header div.right div.logo img.logoPart2 {
  display: block;
  position: relative;
  top: 16px;
  left: 5px;
  height: 50px;
  weight: 55px;
}

div.container.main_content {
  height: 770px;
}
div.container.main_content div.row {
  padding-bottom: 30px;
}
div.container.main_content div.row div.col-12 h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  weight: 500px;
  text-align: center;
  padding-top: 30px;
  color: #FFFFFF;
}
div.container.main_content div.row div.col-12 p img.device {
  float: left;
  width: 200%;
  height: 200%;
}
div.container.main_content div.row.device1 div.col {
  padding: 10px;
  padding-top: 60px;
}
div.container.main_content div.row h5 {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  width: 150px;
  top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}
div.container.main_content div.row img.device {
  width: 131px;
  height: 136px;
}
div.container.main_content div.row h1 {
  height: 70px;
  padding-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 80px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}
div.container.main_content div.elips {
  padding-top: 40px;
  height: 120px;
}
div.container.main_content div.elips img {
  margin-right: auto;
  margin-left: auto;
  width: 322px;
}
div.container.main_content div.elips h4 {
  text-align: center;
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  bottom: 60px;
  color: #E84930;
}

footer div.rob div.city {
  padding-left: 50px;
  width: 350px;
}
footer div.rob div.city p {
  display: inline-block;
  position: relative;
  padding-left: 60px;
  top: 6px;
  font-family: "Roboto";
  text-align: center;
  font-size: 25px;
  color: #FFFFFF;
}
footer div.rob div.col-4 {
  width: 1px;
}
footer div.rob div.col-4 div {
  display: none;
}
footer div.rob div.number {
  margin-top: -5px;
  width: 400px;
}
footer div.rob div.number img {
  width: 60px;
  height: 60px;
}
footer div.rob div.number p {
  display: inline-block;
  position: relative;
  top: 2px;
  right: -15px;
  font-family: "Roboto";
  font-size: 25px;
  bottom: 22px;
  color: #FFFFFF;
}

@media (max-width: 1080px) {
  header nav.navbar {
    display: block;
  }
  header nav.navbar div.master {
    padding-top: 10px;
    width: 55vw;
    pading-left: 20px;
  }
  header nav.navbar div.master h2 {
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
  }
  header nav.navbar div.master p {
    font-size: 15px;
    line-height: 8px;
    text-align: center;
    color: #FFFFFF;
  }
  header nav.navbar div.collapse {
    padding-left: 40px;
  }
  header hr {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  header div.header {
    display: none;
  }

  div.container.main_content {
    height: 700px;
  }
  div.container.main_content div.row.device1 div.col {
    padding-left: 0px;
    padding-top: 0px;
    height: 180px;
  }
  div.container.main_content div.row h5 {
    display: block;
    margin: 0 auto;
    font-size: 12px;
  }
  div.container.main_content div.row.elips {
    padding-top: 10px;
    height: 100px;
  }
  div.container.main_content div.row.elips img {
    width: 200px;
    height: 50px;
  }
  div.container.main_content div.row h1 {
    padding-top: 0px;
    height: 50px;
    font-size: 26px;
    line-height: 60px;
  }
  div.container.main_content div.row img.device {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
  }
  div.container.main_content div.row h4 {
    bottom: 40px;
    font-size: 20px;
  }

  footer div.rob {
    position: relative;
    left: -25px;
  }
  footer div.rob div.city {
    padding-left: 0px;
    width: 200px;
  }
  footer div.rob div.city p {
    display: block;
    padding-left: 30px;
    font-size: 13px;
    color: #FFFFFF;
  }
  footer div.rob div.col-4 {
    width: 100px;
  }
  footer div.rob div.col-4 div {
    display: block;
  }
  footer div.rob div.col-4 div img.logoPart {
    width: 20px;
    height: 20px;
  }
  footer div.rob div.col-4 div img.logoYandex {
    position: relative;
    top: -23px;
    width: 12px;
    left: 4px;
    height: 12px;
  }
  footer div.rob div.col-4 div img.logoMail {
    position: relative;
    top: -24px;
    left: 2px;
    width: 16px;
    height: 12px;
  }
  footer div.rob div.col-4 div img.logoVk {
    position: relative;
    top: -24px;
    left: 2px;
    width: 15px;
    height: 15px;
  }
  footer div.rob div.number {
    width: 100px;
  }
  footer div.rob div.number img {
    display: none;
  }
  footer div.rob div.number p {
    display: inline-block;
    position: relative;
    top: 2px;
    right: -15px;
    font-family: "Roboto";
    font-size: 10px;
    bottom: 22px;
    color: #FFFFFF;
  }
}

/*# sourceMappingURL=style.css.map */
