<header>
    <div class="container-fluid header">
        <div class="row d-flex justify-content-between">
            <div class="col-2">
                   <h2>МÄСТЕР</h2>
                   <p>Сервис по бытовой технике</p>
            </div>
            <div class="col-6">
                <div class="row nav d-flex justify-content-around">
                    <div class="col-4 prof">
                        <img src="{{ url_for('static', filename='png/elips.png') }}" alt="иконка">
                        <p>Профессиональное оборудование</p>
                    </div>
                    <div class="col-2 howwork">
                        <img src="{{ url_for('static', filename='png/elips_howwork.png') }}" alt="иконка">
                        <p>Как мы работаем</p>
                    </div>
                    <div class="col-2 about">
                        <img src="{{ url_for('static', filename='png/elips_howwork.png') }}" alt="иконка">
                        <p>О нас</p>
                    </div>
                    <div class="col-2 about">
                        <img src="{{ url_for('static', filename='png/elips_howwork.png') }}" alt="иконка">
                        <p>Номер</p>
                    </div>
                    <div class="col-2 about">
                        <img src="{{ url_for('static', filename='png/elips_howwork.png') }}" alt="иконка">
                        <p>Цены</p>
                    </div>
                </div>
            </div>
            <div class="col-4 right d-flex justify-content-between">
                <div class="col-3 logo">
                    <img class="logoPart" src="{{ url_for('static', filename='png/avito.png') }}" alt="иконка">
                </div>
                <div class="col-3 logo">
                    <img class="logoPart" src="{{ url_for('static', filename='png/Ellipse(2).png') }}" alt="иконка">
                        <img class="logoYandex" src="{{ url_for('static', filename='png/yandex.png') }}" alt="иконка">
                    </div>
                <div class="col-3 logo">
                    <img class="logoPart" src="{{ url_for('static', filename='png/Ellipse(2).png') }}" alt="иконка">
                    <img class="logoMail" src="{{ url_for('static', filename='png/mail.png') }}" alt="иконка">
                </div>
                <div class="col-3 logo">
                    <img class="logoPart" src="{{ url_for('static', filename='png/Ellipse(2).png') }}" alt="иконка">
                    <img class="logoPart2" src="{{ url_for('static', filename='png/Vector@2x.png') }}" alt="иконка">
                </div>
            </div>
        </div>
    </div>
    <hr class="line">
</header>