<header>
    <div class="container-fluid header">
        <div class="row d-flex justify-content-between">
            <div class="col-2">
                   <h2>МÄСТЕР</h2>
                   <p>Сервис по бытовой технике</p>
            </div>
            <div class="col-4">wefewef</div>
            <div class="col-2">efwef</div>
            <div class="col-2">
                <img src="{{ url_for('static', filename='png/Ellipse(2).png') }}" alt="иконка">
                <img src="{{ url_for('static', filename='png/Vector@2x.png') }}" alt="иконка">
            </div>
        </div>

    </div>
    <hr class="line">
</header>